@page "/test"
@using Library.Models
@using Library.Interfaces
@inject HttpClient Http
@inject ICatalogRepository catalogRepository

<PageTitle>Test</PageTitle>

<h1>Test</h1>
@if (catalogs == null)
{
    <p>No Todo Items found.</p>
}
else
{
    <ul>
    @foreach (var item in catalogs)
        {
            <li>@item.CatalogName</li>
        }
    </ul>
}

@code {
    private const string ServiceEndpoint = "https://localhost:5001/api/Catalog";
    // private Catalog[]? catalogs;
    private IEnumerable<Catalog>? catalogs;


    //protected override async Task OnInitializedAsync() =>
    //catalogs = await Http.GetFromJsonAsync<Catalog[]>(ServiceEndpoint);
    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (catalogs is not null)
                catalogs = await catalogRepository.GetCatalogsAsync();
            else
            {

            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}